a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif!important;
  font-size: inherit!important;
}

/* Header */
.header-inner {
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
}

.header-menu {display: flex;align-items: center;}

.social-link {
  margin: 0 15px;
}

.header-link {
  margin: 0 27px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: #1d1d1d;
  font-size: 1.8rem;
  position: relative;
  transition: 0.3s;
}

header {
  padding: 35px 0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.71);
  position: sticky;
  top: 0;
}

.header-link::before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  background: #1d1d1d;
  transition: 0.3s;
}

.header-link:hover::before, .header-link:focus::before {
  width: 100%;
}

.social-link path {
  transition: 0.3s;
}

.social-link:hover path, .social-link:focus path {
  fill: #5273c8;
}

.social-link:active path {
  fill: #214193;
}

.header-link:active {
  color: #5273c8;
}


/* Hero Section */
.hero {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;
}

.slogan {
  color: #555555;
  font-size: 2.3rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.69px;
  margin-bottom: 27px;
}

.hero .title {
  margin: 0;
  line-height: 1.3;
  font-size: 7.6rem;
  font-family: 'Dosis';
  background: linear-gradient(90deg, #4543d6, #25e8d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin-bottom: 20px;
}

.hero .subtitle {
  color: #555555;
  font-size: 4rem;
  font-family: 'Dosis';
  font-weight: 500;
  max-width: 730px;
  line-height: 1.4;
  margin-top: 0;
}

.hero .image {
  width: 283px;
  height: 552px;
  background: #ebebeb;
  border-radius: 30px;
}

.hero .left {
  padding-right: 26px;
}

.buy-ticket-title {
  color: #1d1d1d;
  font-size: 4rem;
  font-family: 'Dosis';
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 1.4;
}

/* Info Section */
.info-card {
  width: 33.333333%;
  padding: 0 15px;
  background: none;
  border: none;
  outline: none;
}

.cards-wrapper {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.info-card .inner {
  padding: 16px;
  border-radius: 24px;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 570px;
  justify-content: center;
  cursor: pointer;
}

.info {
  margin-bottom: 200px;
}

.info-card .inner::before {content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: -1;margin: -1px; /* !importanté */border-radius: 25px; /* !importanté */background: linear-gradient(to bottom, #7ba0ff, #5bcca9);box-shadow: 0 4px 9px 0 rgb(37 232 214 / 20%);transition: 0.6s;}

.info-card .inner::after {content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: -1; /* !importanté */border-radius: 25px; /* !importanté */transition: 0.6s;margin: -2px;background: linear-gradient(to right, #7ba0ff, #5bcca9);box-shadow: 0 4px 9px 0 rgb(37 232 214 / 30%);opacity: 0;}


.info-card:hover .inner::after, .info-card:focus .inner::after {
  opacity: 1;
}

.info-card:hover .inner::before, .info-card:focus .inner::before {
  opacity: 0;
}

.card-title {
  font-family: 'Dosis';
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.4;
  letter-spacing: 1.2px;
  margin: 0;
  transition: 0.3s;
  margin-top: auto;
}

.card-desc {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.72px;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}


.card-img-wrapper {
  margin-top: auto;
}

.info-card:hover .card-desc, .info-card:focus .card-desc {
  max-height: 300px;
}

.section-title {
  font-size: 7rem;
  line-height: 1.4;
  letter-spacing: 0.7px;
  font-family: 'Dosis';
  font-weight: 500;
  background: linear-gradient(90deg, #4543d6, #25e8d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 60px;
}

/* Footer */
footer.footer {
  background: #7ba0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 47px 15px 30px;
}

.footer-logo {
  margin-bottom: 40px;
}

.copyright {
  color: #fff;
  font-size: 1.5rem;
}