a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif!important;
  font-size: inherit!important;
}

/* Header */
.header-inner {
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
}

.header-menu {display: flex;align-items: center;}

.social-link {
  margin: 0 15px;
}

.header-link {
  margin: 0 27px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: #1d1d1d;
  font-size: 1.8rem;
  position: relative;
  transition: 0.3s;
}

header {
  padding: 35px 0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.71);
  position: sticky;
  top: 0;
  z-index: 5;
}

.header-link::before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  background: #1d1d1d;
  transition: 0.3s;
}

.header-link:hover::before, .header-link:focus::before {
  width: 100%;
}

.social-link path {
  transition: 0.3s;
}

.social-link:hover path, .social-link:focus path {
  fill: #5273c8;
}

.social-link:active path {
  fill: #214193;
}

.header-link:active {
  color: #5273c8;
}


/* Hero Section */
.hero {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;
}

.slogan {
  color: #555555;
  font-size: 2.3rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.69px;
  margin-bottom: 27px;
}

.hero .title {
  margin: 0;
  line-height: 1.3;
  font-size: 7.6rem;
  font-family: 'Dosis';
  background: linear-gradient(90deg, #4543d6, #25e8d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  margin-bottom: 20px;
}

.hero .subtitle {
  color: #555555;
  font-size: 4rem;
  font-family: 'Dosis';
  font-weight: 500;
  max-width: 730px;
  line-height: 1.4;
  margin-top: 0;
}

.hero .image {
  width: 283px;
  height: 552px;
  background: #ebebeb;
  border-radius: 30px;
}

.hero .left {
  padding-right: 26px;
}

.buy-ticket-title {
  color: #1d1d1d;
  font-size: 4rem;
  font-family: 'Dosis';
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 1.4;
}

/* Info Section */
.card {
  width: 33.333333%;
  padding: 0 15px;
  background: none;
  border: none;
  outline: none;
}

.cards-wrapper {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.card .inner {
  padding: 16px;
  border-radius: 24px;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 570px;
  justify-content: center;
  cursor: pointer;
}

.info {
  margin-bottom: 200px;
}

.card .inner::before {content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: -1;margin: -1px; /* !importanté */border-radius: 25px; /* !importanté */background: linear-gradient(to bottom, #7ba0ff, #5bcca9);box-shadow: 0 4px 9px 0 rgb(37 232 214 / 20%);transition: 0.6s;}

.card .inner::after {content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: -1; /* !importanté */border-radius: 25px; /* !importanté */transition: 0.6s;margin: -2px;background: linear-gradient(to right, #7ba0ff, #5bcca9);box-shadow: 0 4px 9px 0 rgb(37 232 214 / 30%);opacity: 0;}


.card:hover .inner::after, .card:focus .inner::after {
  opacity: 1;
}

.card:hover .inner::before, .card:focus .inner::before {
  opacity: 0;
}

.card-title {
  font-family: 'Dosis';
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.4;
  letter-spacing: 1.2px;
  margin: 0;
  transition: 0.3s;
  margin-top: auto;
}

.card-desc {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.72px;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}


.card-img-wrapper {
  margin-top: auto;
}

.card:hover .card-desc, .card:focus .card-desc {
  max-height: 300px;
}

.section-title {
  font-size: 7rem;
  line-height: 1.4;
  letter-spacing: 0.7px;
  font-family: 'Dosis';
  font-weight: 500;
  background: linear-gradient(90deg, #4543d6, #25e8d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 60px;
}

/* Buy a ticket Section */
.buy-a-ticket .subtitle {
  font-family: 'Dosis';
  font-size: 4rem;
  line-height: 1.4;
  letter-spacing: 1.2px;
  color: #1d1d1d;
  font-weight: 500;
  margin: 0 0 32px;
}

.buy-a-ticket p.desc1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.75px;
  color: #1d1d1d;
  margin: 0 0 24px;
}

.buy-a-ticket .desc2 {
  font-size: 1.8rem;
  color: #555555;
  line-height: 1.5;
  letter-spacing: 0.72px;
  margin: 0;
}

.buy-a-ticket .left {
  max-width: 710px;
  padding-right: 26px;
}

.buy-a-ticket {
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;
}

/* How to play Section */
.how-to-play .cards-wrapper {
  flex-direction: column;
  align-items: center;
}

.how-to-play .card {
  width: 100%;
  margin-bottom: 83px;
  max-width: 540px;
  position: relative;
}

.how-to-play .card .inner {
  min-height: 346px;
  padding: 31px;
}

.how-to-play .title {
  font-family: 'Dosis';
  font-size: 4rem;
  font-weight: 500;
  margin: 0 0 24px;
  color: #1d1d1d;
  line-height: 1.4;
  letter-spacing: 1.2px;
}

.how-to-play .desc {
  font-size: 1.8rem;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.72px;
  color: #1d1d1d;
}

.how-to-play .number {
  font-family: 'Dosis';
  font-size: 4rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: 0.3s;
  position: absolute;
  background: transparent;
  z-index: 2;
  top: -35px;
}

.how-to-play .number::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  z-index: -2;
  transition: 0.3s;
  background-image: linear-gradient(to bottom, #7ba0ff 0%, #5bcca9 100%);
}

.how-to-play .number::after {
  opacity: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s;
  background-image: linear-gradient(128deg, #4543d6 -10%, #25e8d6 105%);
}

.how-to-play .card:hover .number::after, .how-to-play .card:focus .number::after {
  opacity: 1;
}

.how-to-play .section-title {
  margin-bottom: 95px;
}

/* Roadmap Section */
.stages-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.stage-row {
  width: 100%;
}

.stage {
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.stage .title {
  font-family: 'Dosis';
  color: #1d1d1d;
  font-size: 4rem;
  margin: 0 0 32px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.2px;
}

.stage .desc {
  color: #1d1d1d;
  line-height: 1.5;
  letter-spacing: 0.72px;
  font-size: 1.8rem;
  margin: 0;
  min-height: 189px;
}

.stage-row:nth-of-type(odd) .stage {
  margin-left: auto;
}

.roadmap svg {
  position: absolute;
  left: 50%;
  top: 160px;
  transform: translateX(-50%);
}

.roadmap {
  position: relative;
  padding-bottom: 200px;
}

/* The Team Section */
.the-team .card .inner {
  min-height: 485px;
  justify-content: flex-start;
  padding-top: 40px;
}

.the-team .img-wrapper {
  margin-bottom: 19px;
}

.the-team .letters {
  font-size: 4rem;
  margin: 0 0 8px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  font-weight: 500;
  font-family: 'Dosis';
  color: #1d1d1d;
}

.the-team .position {
  color: #555555;
  font-size: 2.3rem;
  line-height: 1.4;
  letter-spacing: 0.69px;
  font-style: italic;
  margin-bottom: 24px;
}

.the-team .desc {
  color: #1d1d1d;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.72px;
}

.the-team {
  padding-bottom: 200px;
}

/* Whitelist Section */
.whitelist-box {
  background: #5273c8;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 50px;
}

.whitelist h2, .whitelist h3 {
  font-family: 'Dosis';
  font-size: 4rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1.2px;
  margin: 0;
}

.whitelist h2 {
  margin-bottom: 24px;
}

.whitelist h3 {
  margin-bottom: 50px;
}

.whitelist {
  padding-bottom: 200px;
}

/* Faq */
.faq .card {
    width: 100%;
    max-width: 821px;
    padding: 0;
    margin-top: 17px;
}

.faq .card .inner {
    min-height: unset;
    padding: 16px 32px;
}

.faq-item {
    display: flex;
    margin-bottom: 17px;
}

.toggle {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    position: relative;
    padding: 0;
    cursor: pointer;
}

.toggle-wrapper {
    margin-right: 46px;
}

.faq .question {
    font-family: 'Dosis';
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: 1.2px;
    color: #1d1d1d;
    font-weight: 500;
    cursor: pointer;
}

.faq .answer {
    margin: 0;
    font-size: 1.8rem;
    color: #1d1d1d;
    line-height: 1.5;
    letter-spacing: 0.72px;
    text-align: left;
}

.card-wrapper {
    transition: 0.4s;
    max-height: 0;
    overflow: hidden;
    padding: 0 3px 15px;
}

.toggle::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 36px;
    height: 2px;
    background: #1d1d1d;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.toggle::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 36px;
  background: #1d1d1d;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.faq-item.open .toggle::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.faq-item.open .card-wrapper {
  max-height: 200px;
}

/* Footer */
footer.footer {
  background: #7ba0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 47px 15px 30px;
  margin-top: 200px;
}

.footer-logo {
  margin-bottom: 40px;
}

.copyright {
  color: #fff;
  font-size: 1.5rem;
}